ion-content.container-first {
    --ion-background-color: transparent !important;
    /* Désactive le fond Ionic */
    background: linear-gradient(135deg, #F5F5F5, #55fa5a);
    /* Dégradé vert */
    height: 100vh;
    /* Assure une hauteur complète */
    width: 100vw;
    /* Largeur complète */
    display: flex;
    flex-direction: column;
}

ion-card.garden {
    background-color: rgba(255, 255, 255, 0.702);
    margin-top: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
   
}

ion-card.garden ion-card-header ion-card-title {
    text-align: center;
    
}   

ion-content.ion-card-container {
    display: flex;
    width: 100%;
  
}

ion-icon.hammer {
    margin-right: 5px;
}

ion-button.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
}

.yellow {
    color: rgb(205, 205, 3);
    
}   

 ion-button.button-manage {
    width: 50%;
    margin: 10px 0;
    font-size: 1rem;
    --border-radius: 8px;
    --color: white;
    --background: #C1A878;
    --background-hover: #a08b64;
    --background-activated: #a08b64;
    margin-left: auto;
    margin-right: auto;
}

ion-card-subtitle {
    margin-top: 15px;
}

ion-card-subtitle.subtitle-right{
 
position: relative;
}
//dernier span
ion-card-subtitle.subtitle-right span{
  
  position: absolute;
    right: 20px;
}

@media (max-width: 750px) {
    ion-button.button-manage{
        width: 90%;
    }

    ion-card-subtitle.subtitle-right{
        position: inherit;
    
    }
    //dernier span
    ion-card-subtitle.subtitle-right span{
        position: inherit;
        right: inherit;
        display: block;
      
    }
}