ion-content.container-first {
    --ion-background-color: transparent !important;
    /* Désactive le fond Ionic */
    background: linear-gradient(135deg, #F5F5F5, #55fa5a);
    /* Dégradé vert */
    height: 100vh;
    /* Assure une hauteur complète */
    width: 100vw;
    /* Largeur complète */
    display: flex;
    flex-direction: column;
}

.welcome-name {
    color: #55fa5a;
}

/* Style pour le bouton de suppression */
.delete-button {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
    background: transparent;
    border: none;
    padding: 0;

}

/* Style pour l'icône dans le bouton de suppression */
.delete-button ion-icon {
    font-size: 30px;
    color: var(--ion-color-danger);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.081);
    /* Optionnel : ajouter un fond blanc derrière l'icône */
}



/* Style général pour les ion-cards d'action */

.card-container {
    display: flex;
}

.action-card {
    margin: 16px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
    animation: fadeIn 0.8s ease-in-out;
    background-color: rgba(255, 255, 255, 0.51);
    width: 50%
}

.action-card ion-card-header ion-card-title {
    text-align: center;
}

.card-images {
    background-color: rgba(255, 255, 255, 0.51);

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Personnalisation des boutons d'action */
.action-card ion-button {
    --border-radius: 8px;
    --background: #C1A878;
    --background-hover: #a08b64;
    --background-activated: #a08b64;
    font-size: 1rem;
    margin-top: 12px;
}

/* Style pour l'aperçu des images */
.responsive-col {
    position: relative;
}

.responsive-col img {
    width: 100%;
    border-radius: 10px;
}

/* Bouton de suppression sur l'image */
.delete-button {
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 10;
}

ion-icon.close-icon {
    font-size: 30px;
    color: red;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.82)!important;
}

.list-details {
    background-color: rgba(255, 255, 255, 0.51);
width: 50%;
margin-left: auto;
margin-right: auto;
border-radius: 10px;
}

div.button-analyse {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-analyse ion-button {
    width: 50%;
    margin: 10px 0;
    font-size: 1rem;
    --border-radius: 8px;
    --color: white;
    --background: #C1A878;
    --background-hover: #a08b64;
    --background-activated: #a08b64;
}

.button-symptoms{
   margin-top: 25px;
}

::ng-deep ion-card.card-analyse {
    width: 80% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  
  ::ng-deep ion-card-subtitle.subtile-analyse {
    color: #fffe00 !important;
  }
  
  ::ng-deep p.white {
    color: white !important;
    margin-top: 10px!important;
    margin-bottom: 10px !important;
  }

  .info-container {
    background: linear-gradient(135deg,#55fa5a,#F5F5F5);

  }

  .list-info-text {
    margin-left: auto;
margin-right: auto;
margin-top: 20px;
margin-bottom: 20px;
  }


  .analyse-other-picture {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .item-toggle {
    width: 50%;
    margin-left: auto;
    margin-right: auto
  }

@media (max-width: 750px) {
    .responsive-col {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .action-card {
        width: 90%;
    }  
    
    .list-details {
        width: 90%;
    }

    .button-analyse ion-button {
        width: 90%;
    }
}