<ion-header *ngIf="isAuthenticated$ | async">
  <ion-toolbar>
    <ion-title class="orbitron_medium">Check your plant</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="menuId"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="container-first" fullscreen="true" id="main-content">

  <ion-loading
  [isOpen]="isLoading"
  message="Analyzing the plant..."
  spinner="crescent">
</ion-loading>


  <div class="card-container" *ngIf="!analysisDone">

    <ion-card class="action-card">
      <ion-card-header>
        <ion-card-title>Take a Picture</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          Capture a clear photo of your plant. Please ensure you capture both the entire plant and close-ups of any visible symptoms.
          (Max 3 photos allowed)
        </p>
        <ion-button expand="block" (click)="captureImage()">
          <ion-icon slot="start" name="camera-sharp"></ion-icon>
          
        </ion-button>
      </ion-card-content>
    </ion-card>
  
    <ion-card class="action-card">
      <ion-card-header>
        <ion-card-title>Upload an Image</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          Select a photo from your gallery. Choose an image that clearly shows your plant – include a wide shot as well as a close-up of any issues.
          (Max 3 photos allowed)
        </p>
        <ion-button expand="block" (click)="selectImage()">
          <ion-icon slot="start" name="images-sharp"></ion-icon>
          
        </ion-button>
        <input type="file" accept="image/*" hidden #fileInput (change)="onFileSelected($event)" />
      </ion-card-content>
    </ion-card>
  </div>


  <!-- Aperçu des images et formulaire de détails supplémentaires -->
  <ion-card class="card-images" *ngIf="previewImages.length > 0 && !analysisDone">
    <ion-card-header>
      <ion-card-title>🌿 Plant Preview</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col class="responsive-col" size="4" *ngFor="let img of previewImages; let i = index">
            <img [src]="img" alt="Plant preview" />
            <ion-button class="delete-button" fill="clear" (click)="removeImage(i)">
              <ion-icon class="close-icon" name="close-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- Formulaire de détails supplémentaires -->
  <!-- Nouveau formulaire de détails supplémentaires -->
  <ion-item *ngIf="previewImages.length > 0 && !analysisDone" class="item-toggle">
    <ion-label>Add more information (Optional)</ion-label>
    <ion-toggle [(ngModel)]="showMoreInfo" slot="end"></ion-toggle>
  </ion-item>
  <ion-list *ngIf="previewImages.length > 0 && !analysisDone && showMoreInfo" class="list-details">
    <ion-item class="info-container">
  
    <ion-text class="list-info-text"><strong>The more information you provide, the more accurate the analysis will be</strong>

    </ion-text>
  </ion-item>

  <ion-list>
    <ion-item>
      <ion-select 
        aria-label="Environment" 
        interface="action-sheet" 
        placeholder="Select environment (Optional)" 
        [(ngModel)]="plantDetails.environment">
        
        <ion-select-option value="house">home</ion-select-option>
        <ion-select-option value="greenhouse">greenhouse</ion-select-option>
        <ion-select-option value="outdoor">outdoor</ion-select-option>
  
      </ion-select>

      <!-- Bouton pour effacer la sélection -->
      <ion-button fill="clear" color="grey" (click)="clearSelection()">
        <ion-icon slot="end" name="close-circle-sharp"></ion-icon>
      </ion-button>
  
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label  position="floating" placeholder="test">Plant Variety (Optional):</ion-label>
    <ion-input [clearInput]="true" [(ngModel)]="plantDetails.variety"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label position="floating">Symptoms (Optional):</ion-label>
    <ion-textarea [(ngModel)]="plantDetails.symptoms"></ion-textarea>
  
    <!-- Bouton pour effacer le texte -->
    <ion-button class="button-symptoms" fill="clear" color="medium" slot="end" (click)="clearTextAera()">
      <ion-icon color="grey" name="close-circle-sharp"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>

  <!-- Bouton pour lancer l'analyse -->
  <div class="button-analyse" *ngIf="!analysisDone">
 <ion-button *ngIf="previewImages.length > 0" (click)="analyzePlant()">
    <ion-icon slot="start" name="search-outline"></ion-icon>
    Analyze Plant
  </ion-button>
  </div>

 

  <!-- Résultat de l'analyse -->
 
  
   <div  *ngIf="analysisResult">

    <div [innerHTML]="analysisResult"></div>
    <ion-button class="analyse-other-picture" expand="block" color="" (click)="reloadPage()">
      Analyze Other Picture
    </ion-button>
   </div>
  




