ion-content.container-first {
    --ion-background-color: transparent !important;
    /* Désactive le fond Ionic */
    background: linear-gradient(135deg, #F5F5F5, #55fa5a);
    /* Dégradé vert */
    height: 100vh;
    /* Assure une hauteur complète */
    width: 100vw;
    /* Largeur complète */
    display: flex;
    flex-direction: column;
}